#content {
  margin: 0 auto;
  width:900px;
}

#byline{
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  font-style: italic;
}

h1{
font-family: Helvetica, sans-serif;
font-size:50px;
}

body{
  font-family:Georgia,serif;
  font-size:13px;
}

p{
  font-style:italic;
}

blockquote{
  font-size:100px;
  font-style: italic;
}
