.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
/*code from htmldog*/
.pquote{
    float: Center;
    max-width: 100%;
    width: 1200px;
    background: #ddf;
    font-style: italic;
    font-weight: bold;
    padding: 13px;
    margin: 0 13px 13px 0;
}

blockquote{
    margin: 0; /* gets rid of the default blockquote margin */
}

.pquote p:first-letter{
    font-size: 39px;
    font-weight: regular;
}

#beautywnba img{
  max-width:1200px;
  width:100%;
  height:auto;
}
.quote{
  font-size:1em;
  font-weight:700;
  text-align:center;
  font-family: 'Raleway', sans-serif;
}
.headline {
  font-size:3em;
  font-weight:700;
  text-align:center;
  font-family: 'Raleway', sans-serif;
}

.byline {
  font-size:1em;
  text-transform:uppercase;
  font-family: 'Raleway', sans-serif;
  text-align:center;
}

p{
  font-family:font-family: 'Poppins', sans-serif;
}

h1{
  font-size: 1em;
  font-family: font-family: 'Poppins', sans-serif;
  color: ##AC9EE8;
}

#headerphoto {
  width:100%;
  height:auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  padding: auto;
  text-align: center;

}
img {
  text-align:center;
}

.footer{
  text-align:center;
  padding:3px;
  background-color:#AC9EE8;
  color:white;
}
