.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#beautywnba img{
  max-width:1200px;
  width:100%;
  height:auto;
}
.quote{
  font-size:1em;
  font-weight:700;
  text-align:center;
  font-family: 'Montserrat', sans-serif;
}
.headline {
  font-size:3em;
  font-weight:700;
  text-align:center;
  font-family: 'Montserrat', sans-serif;
}

.byline {
  font-size:1em;
  text-transform:uppercase;
  font-family: 'Montserrat', sans-serif;
  text-align:center;
}

p {
  font-family: georgia, serif;
  line-height:180%;
}

h1 {
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  font-color: #EFE6FA;
}

#headerphoto {
  width:100%;
  height:auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  padding: auto;
  text-align: center;

}
img {
  text-align:center;
}

.footer {
  text-align:center;
  padding:3px;
  background-color:#E6E6FA;
  color:white;
}
