h1{
  font-size: 50px;
  font-family:Garamond;
}

h2{
font-size:35px;
font-family:Helvetica;
}

h3{
font-size:35px;
font-family:Helvetica;
}

p{
  font-family: Helvetica, Arial, sans-serif;
}

blockquote{
color:#33485e;
font-style:oblique;
}
