h1{
  font-size: 50px;
  font-family:Garamond;
}

h2{
font-size:35px;
font-family:Helvetica;
}

h3{
font-size:35px;
font-family:Helvetica;
}

p{
  font-family: Helvetica, Arial, sans-serif;
}
/*added a blockquote with select styles to the story*/
blockquote{
font-size: 1.5em;
background:#33485e;
color:#fff;
text-transform:uppercase;
font-weight:400;
margin-top:20px;
margin-bottom:10px;
margin-right:0;
margin-left: 0;
width:70%;
min-width: 300px;
}

#byline{
font-size:30px;
}

#storyorg{
width:100%;
max-width:1200px;
margin:0 auto;
padding:50px;
}
